* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


/* MOBILE SETTINGS */
@media screen {
/* NAVBAR */
.navbar-brand img {
    width: 5rem;
    height: 5rem;
}

.navbar-brand {
    display: flex;
    align-items: center;

}

.navbar-brand h6 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
}

nav{
    background-color: #e48d3e;
}

.nav-item a {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #e48d3e;
    font-size: 1rem;
}

.nav-item a:hover {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: underline;
    color: #695850;
}

.offcanvas-title {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color:#695850;
}

.navbar .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28105, 88, 80, 0.90%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* BANNER */
.hero-image {
    height: 35vh;
    /* width: 100vw; */
    opacity: 80%;
    background-image: url(../img/construction-site-silhouettes.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(105, 88, 80, 0.6); /* color overlay with 50% opacity */
  }

.hero-text h1{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px black;
    width: 95vw;
    font-size: 1.5rem;
    text-align: center;
}

.button-container {
    display: flex; 
    justify-content: center;
}

.button-one {
    background-color: #e48d3e;
    color: white;
    padding: 10px 15px; /* Adjust the padding to your liking */
    border: none; /* Remove the default button border */
    border-radius: 8px; /* Adjust the border-radius to control the button's curvature */
    cursor: pointer;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.button-two {
    background-color: white;
    color: #e48d3e;
    padding: 10px 15px; /* Adjust the padding to your liking */
    border: none; /* Remove the default button border */
    border-radius: 8px; /* Adjust the border-radius to control the button's curvature */
    cursor: pointer;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.button-one:hover {
    background-color: #695850;
    color: white;
    padding: 10px 15px; /* Adjust the padding to your liking */
    border: none; /* Remove the default button border */
    border-radius: 8px; /* Adjust the border-radius to control the button's curvature */
    cursor: pointer;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.button-two:hover {
    background-color: #695850;
    color: white;
    padding: 10px 15px; /* Adjust the padding to your liking */
    border: none; /* Remove the default button border */
    border-radius: 8px; /* Adjust the border-radius to control the button's curvature */
    cursor: pointer;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
}

/* ABOUT US */
/* description section */
.description {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description h2{
    margin-top: 0;
    color: #e48d3e;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.description p{
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    text-align: justify;
    font-family: 'Lato', sans-serif;
}

.title {
    border-top: 3px solid #695850;
    width: 20vw;
    margin-top: 2rem;
    padding-top: 0.5rem;
}

/* numbers section */
.numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

/* first row */
.numbers-first-row {
    display: flex;
    width: 100vw;
    justify-content: center;
}

/* first box */
.first-box {
    width: 40vw;
}

.first-box-first-row {
    display: flex;
    align-items: baseline;
}

.first-box-first-row > img {
    width: 40px;
    height: 40px;
}

.first-box-first-row > h3 {
    font-size: 2rem;
    margin-left: 0.2rem;
}


/* second box */
.second-box {
    width: 40vw;
}

.second-box-first-row {
    display: flex;
    align-items: baseline;
}

.second-box-first-row > img {
    width: 40px;
    height: 40px;
}

.second-box-first-row > h3 {
    font-size: 2rem;
    margin-left: 0.2rem;
}

/* second row */
.numbers-second-row {
    display: flex;
    width: 100vw;
    justify-content: center;
}

/* third box */
.third-box {
    width: 40vw;
}

.third-box-first-row {
    display: flex;
    align-items: baseline;
}

.third-box-first-row > img {
    width: 40px;
    height: 40px;
}

.third-box-first-row > h3 {
    font-size: 2rem;
    margin-left: 0.2rem;
}

/* fourth box */
.fourth-box {
    width: 40vw;
}

.fourth-box-first-row {
    display: flex;
    align-items: baseline;
}

.fourth-box-first-row > img {
    width: 40px;
    height: 40px;
}

.fourth-box-first-row > h3 {
    font-size: 2rem;
    margin-left: 0.2rem;
}

/* OUR SERVICES */
.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    background-color: #e48d3e;
}

.service-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.services h2{
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    font-weight: 600;
    color: #695850;
}

.line {
    border-top: 3px solid #e48d3e;
    width: 15vw;
    margin-top: 1rem;
}

.civil-works {
    background-image: url(../img/civil\ works.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    margin-bottom: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.civil-works img {
    width: 50px;
    height: 55px;
}

.civil-works h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
    text-shadow: 0.5px 0.5px black;
}

.civil-works p {
    text-align: center;
    color: white;
}

.mechanical-works {
    background-image: url(../img/mechanical\ works.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    margin-bottom: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.mechanical-works img {
    width: 50px;
    height: 50px;
}

.mechanical-works h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
    text-shadow: 0.5px 0.5px black;
}

.mechanical-works p {
    text-align: center;
    color: white;
}

.electrical-works {
    background-image: url(../img/electrical\ works.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    margin-bottom: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.electrical-works img {
    width: 50px;
    height: 50px;
}

.electrical-works h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
    text-shadow: 0.5px 0.5px black;
}

.electrical-works p {
    text-align: center;
    color: white;
}

/* Contact Form */
.contact-form-left {
    width: 100vw;
    padding: 2rem;
    background-color: #695850;
}

.contact-form-left img {
    width: 100%;
    height: auto;
}

.contact-form-right {
    width: 100vw;
    padding: 2rem;
    background-color: #e48d3e;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid transparent;
}

#full-name {
    margin-bottom: 0.5rem;
}

#company {
    margin-bottom: 0.5rem;
}

#phone {
    margin-bottom: 0.5rem;
}

#email {
    margin-bottom: 0.5rem;
}

#message {
    margin-bottom: 0.5rem;
}


#submit-button {
    background-color: #695850;
    color: white;
    text-transform: uppercase;
    width: 95%;
    border-radius: 5px;
    margin-top: 0.5rem;
}

#submit-button:hover {
    background-color: transparent;
    color: #695850;
    border: 3px solid #695850;
    text-transform: uppercase;
    width: 95%;
    border-radius: 5px;
    margin-top: 0.5rem;
}

.contact-form {
    margin-bottom: 1rem;
}

/* Footer */
.footer-top {
    background-color: #695850;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.footer-logo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.footer-logo h6 {
    color: white;
}

.footer-useful-links {
    display: flex;
    flex-direction: column;
    
}

.footer-useful-links a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

.footer-useful-links a:hover {
    color: #e48d3e;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 12px;
}

.footer-logo img {
    width: 40px;
    height: 40px;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-media img {
    width: 30px;
    height: 30px;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.footer-bottom {
    background-color: #e48d3e;
    text-align: center;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}

.footer-bottom p{
    font-size: 13px;
}
}

/* IPAD SETTINGS */
@media screen and (min-width: 679px) {
    .hero-text h1 {
        width: 65vw;
    }

    .title {
        border-top: 3px solid #695850;
        width: 15vw;
        margin-top: 2rem;
        padding-top: 0.5rem;
    }
}


/* LAPTOP SETTINGS */
@media screen and (min-width: 992px) {
/* navbar */
.navbar-brand img {
    width: 5rem;
    height: 5rem;
}

.navbar-brand {
    display: flex;
    align-items: center;

}

.navbar-brand h6 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
}

nav{
    background-color: #e48d3e;
}

.nav-item a {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    font-size: 1rem;
}

.nav-item a:hover {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: underline;
    color: #695850;
}
/* about us */
.about-us {
    display: flex;
    margin-bottom: 1rem;
}

.title {
    border-top: 3px solid #695850;
    width: 8vw;
    margin-top: 2rem;
    padding-top: 0.5rem;
}

.description {
    width: 50vw;
}

/* numbers */
.numbers {
    width: 50vw;

}

.first-box {
    width: 15vw;
}

.second-box {
    width: 15vw;
}

.third-box {
    width: 15vw;
}

.fourth-box {
    width: 15vw;
}

.numbers-first-row {
    width: 50vw;
}

.numbers-second-row {
    width: 50vw;
}

/* services */
.service-cards {
    display: flex;
    flex-direction: row;
}

.civil-works {
    width: 30vw;
    height: 35vh;
    margin: 0.5rem;
}

.mechanical-works {
    width: 30vw;
    height: 35vh;
    margin: 0.5rem;
}

.electrical-works {
    width: 30vw;
    height: 35vh;
    margin: 0.5rem;
}

.contact-form {
    display: flex;
    margin: 5rem;
}

.contact-form-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

}