*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* navbar settings */
.navbar {
    background-color: #233423;
}

.navbar-brand{
    font-family: 'Alata', sans-serif;
}

.navbar a {
    color: #f5eedc;
}

.navbar a:hover {
    color: #f5eedc;
    text-shadow: 1px 1px black;
}

.offcanvas-body a {
    color: black;
}

.offcanvas-body a:hover {
    color: black;
    text-shadow: 1px 1px #f5eedc;
    text-decoration: underline;
}

.offcanvas-title {
    color: #233423;
    font-family: 'Alata', sans-serif;
}

.navbar .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28245, 238, 220, 0.90%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar .navbar-toggler{
    border: 1px solid #f5eedc;
}

/* hero section settings */
.carousel-caption a{
    border: 1px solid transparent;
    background-color: #233423;
    padding: 0.6rem;
    color: #f5eedc;
    font-family: 'alata', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.8rem;
}

.carousel-caption a:hover{
    border: 1px solid #233423;
    color: #233423;
}

.carousel-caption h1{
    color: #233423;
    font-family: 'Merriweather', sans-serif;
    font-size: 24px;
    text-shadow: 0.5px 0.5px rgb(226, 226, 226);;
}

/* section settings */
section{
    background-color: #eae9e5;
    width: 100%;
    /* height: 65vh; */
}

section h2{
    font-family: 'alanta', sans-serif;
    font-size: 4rem;
    color: #233423;
    -webkit-text-fill-color: #faf7ec;
    -webkit-text-stroke-width: 1.5px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding-top: 1rem;
}

/* products settings */
.card{
    margin: 1rem auto;
}

.card-title {
    text-transform: uppercase;
    font-family: 'Merriweather', sans-serif;
    font-weight: 600;
}

.card-img-top{
    background-color: #eae9e5;
}

.card-body{
    background-color: #eae9e5;
}

.card a {
    background-color: #233423;
    color: #f5eedc;
}

.card a:hover {
    border: 1px solid #233423;
    color: #233423;
}

/* brand info section */
.image {
    width: 100vw;
    background-color: #233423;
    display: flex;
    padding: 2rem;
}

.image img {
    width: 100%;
    height: auto;
    align-self: center;
    justify-self: center;
}

.description {
    width: 100vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #f5eedc;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description h6{
    font-size: 1.5rem;
    margin-left: 1rem;
    padding-top: 0.5rem;
    font-family: 'Merriweather', sans-serif;
    color: #233423;
}

.description p{
    font-size: 1.1rem;
    margin-left: 1rem;
    font-family: 'Alata', sans-serif;
    color: #233423;
}

/* reviews section */
.reviews h2{
    font-family: 'Merriweather', sans-serif;
    font-size: 2rem;
    padding-top: 2rem;
    color:#233423;
    -webkit-text-fill-color: #233423;
    -webkit-text-stroke-width: 0;
}

.reviews .carousel-item{
    width: 100vw;
    /* height: 20vh; */
    text-align: center;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

/* footer section */
footer {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    background-color: #233423;
}

.socials img {
    width: 1.5rem;
}

.logo img{
    width: 5rem;
}

.useful-links {
    display:flex;
    flex-direction: column;
    font-size: small;
    font-family: 'Alata', sans-serif;
}

.useful-links a{
    color: #f5eedc;
    text-decoration: none;
}

.useful-links a:hover{
    color: #f5eedc;
    text-decoration: underline;
}

.social-media h6{
    font-size: small;
    color: #f5eedc;
}

/* iPad media query */
@media only screen and (min-width: 679px) {
    .brand-info {
        height: 40vh;
        display: flex;
    }
    
    .image {
        width: 50vw;
        background-color: #233423;
        display: flex;
        padding: 2rem;
    }
    
    .image img {
        width: 100%;
        height: auto;
        align-self: center;
        justify-self: center;
    }
    
    .description {
        width: 50vw;
        background-color: #f5eedc;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .description h6{
        font-size: 1.5rem;
        margin-left: 1rem;
        padding-top: 0.5rem;
        font-family: 'Merriweather', sans-serif;
        color: #233423;
    }
    
    .description p{
        font-size: 1.1rem;
        margin-left: 1rem;
        font-family: 'Alata', sans-serif;
        color: #233423;
    }
}
